.home-title {
    padding: 60px;
}
.home-intruder {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .home-intruder-textarea {
        padding-top: 46%;
    }
    .home-intruder-button {
        height: 100px;
    }